#footer{
    #summary{
        padding:70px 0px;
        .row{
            div{
                img{
                    margin-bottom:30px;
                }
                p{
                    font-size:16px;
                    color:white;
                    font-weight:300;
                    line-height:25px;
                    margin-bottom:10px;
                }
                h3{
                    font-size:20px;
                    color:#FBFBFC;
                    margin:0 0 30px 0;
                    text-transform:uppercase;
                }
                i{
                    display:inline-block;
                    color:$main-color;
                    margin:20px;
                }
                div{
                    position:relative;
                    margin-top:20px;
                    padding:0;
                    .i-contact{
                        position:absolute;
                        font-size:20px;
                        margin:0;
                        display:block;
                    }
                    a{  
                        position:absolute;
                        font-size:16px;
                        color:$main-color;
                    }
                    span{
                        position:absolute;
                        font-size:16px;
                        color:white;
                        line-height:25px;

                    }
                }
            }
        }
    }

}