#uptades{
    overflow:hidden;
    padding:45px;
    h1{
        text-transform:uppercase;
        font-weight:300;
        font-size:45px;
        color:white;
        margin-top:0;
    }
    p{
        font-size:17px;
        color:white;
    }
    .form-group{
        margin:15px;
        input{
            border:none;
            padding:12px 20px;
            border-left:4px solid $main-color;
            font-size:20px;
            margin-right:10px;
        }
        input:first-child{
            width:170px;
        }
        input:nth-child(2){
            width:260px;
        }
        button{
            position:relative;
            top:-2px;
            border-radius:3px;
            padding:14px 30px;
            text-transform:uppercase;
            color:white;
            font-size:16px;
            border:1px solid white;
            background:none;
            &:hover{
                color:$main-color;
                background:white;
            }
        }
    }
}